# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Dependency directory
node_modules/

# Lock files
benchmark/package-lock.json
yarn.lock

# Sublime Text
*.sublime-*

# Other
.DS_Store
